{% extends "parts/layoutAdmin.njk" %}
{% import "parts/divChefs.njk" as div %}

{% block head %}
    <title>Foodfy - Admin</title>
    <link rel="stylesheet" href="/css/chefs.css">
{% endblock %} 


{% block content %}   

    <div class="content-box">
        <div class="header-box">
            <h2>Gerenciar Chefs</h2>
            <div>
                {% if isAdmin %}
                    <a href="/admin/chefs/create" class="button" type="submit">Criar Chef</a>
                {% endif %}
            </div>
        </div>

        {{ div.chefs(chefs, files) }}

    </div>
{% endblock %} 
