{% extends "parts/layoutHome.njk" %}
{% import "parts/divRecipes.njk" as divRecipes %}
{% import "parts/showChef.njk" as chefInfo %}

{% block head %}

    <title>{{chef.name}}</title>
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="/css/paginate.css">

{% endblock %} 

{% block content %}
    <div class="details-container">
        

        {{ chefInfo.show(chef, totalRecipes, isAdmin) }}
        
        {{ divRecipes.adminRecipes(recipes, recipeFiles) }}

        <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}></div>

    </div>
<script src="/js/paginate.js"></script>
{% endblock %} 
