{% extends "parts/layoutHome.njk" %}
{% import "parts/divChefs.njk" as div %}


{% block head %}
    <title>Foodfy - Receitas</title>
    <link rel="stylesheet" href="/css/chefs.css">
{% endblock %} 

{% block content %}

    {{ div.homeChefs(chefs, files) }}

{% endblock %} 
