{% extends "parts/layoutHome.njk" %}
{% import "parts/divRecipes.njk" as divRecipes %}

{% block head %}
    <title>Foodfy - Receitas</title>
    <link rel="stylesheet" href="/css/paginate.css">
{% endblock %} 

{% block content %}
    <h2 class="card-titulo">Buscando por "{{filter}}"</h2>
    <div class="receitas"> 

        {{ divRecipes.homeRecipes(recipes, files) }}

    </div>

    <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}></div>

<script src="/js/paginate.js"></script>
<script src="/js/home/recipes.js"></script>
{% endblock %} 
