{% extends "parts/layoutHome.njk" %}
{% import "parts/divRecipes.njk" as divRecipes %}


{% block head %}
    <title>Foodfy-Home</title>
{% endblock %} 

{% block content %}
    <div>
        <div class="banner">
            <div class="banner-text">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="banner-img">
                <img src="std_imgs/chef.png" alt="">
            </div>                
        </div>

        <div class="mais-acessadas">
            <h3 class="mais-acessadas-titulo"><a class="navbar-links" href="/recipes">Últimas Receitas Cadastradas</a></h3>
        </div>

        {{ divRecipes.homeRecipes(recipes, files) }}

    </div>

<script src="/js/home/recipes.js"></script>
{% endblock %} 
