{% extends "parts/layoutAdmin.njk" %}
{% import "parts/divRecipes.njk" as divRecipes %}


{% block head %}
    <title>Foodfy - Admin</title>
    <link rel="stylesheet" href="/css/recipes.css">
    <link rel="stylesheet" href="/css/paginate.css">
{% endblock %} 


{% block content %}   

    <div class="content-box">
        <div class="header-box">
            <h2>Gerenciar Receitas</h2>
            <div>
                <a href="/admin/recipes/myrecipes?byUser=true" class="button">Minhas Receitas</a>
                <a href="/admin/recipes/create" class="button" >Criar Receita</a>
                <input type="hidden" name="byUser">
            </div>
        </div>
        
        {{ divRecipes.adminRecipes(recipes, files) }}
        
        <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}></div>

    </div>

<script src="/js/paginate.js"></script>
<script src="/js/admin/recipes/byUser.js"></script>

{% endblock %} 
