{% extends "parts/layoutAdmin.njk" %}
{% import "parts/showRecipe.njk" as recipeInfo %}

{% block head %}

    <title>{{recipe.title}}</title>
    <link rel="stylesheet" href="/css/show.css">

{% endblock %} 

{% block content %}
    <div class="details-container">
        <div class="edit-box">
            <h2 class="details-h2">Receita: {{recipe.title}}</h2>
            <div>
                {% if isAdmin or owner %}
                <a class="button" href="/admin/recipes/{{recipe.id}}/edit">Editar Receita</a>
                {% endif %}
            </div>
        </div>

        {{ recipeInfo.show(recipe, files) }}

        
    </div>

<script src="/js/admin/recipes/show.js"></script>
{% endblock %} 
