{% macro homeChefs(chefs, files) %}

<div class="cards">
        {% for chef in chefs %}
        <div class="card">
            <img src="{{files[loop.index0].src}}" alt="{{chef.name}}">
            <div>
                <h4>{{chef.name}}</h4>
                <small class="presentation-author">
                    {{chef.totalRecipes}}
                    {% if chef.totalRecipes != 1  %} receitas {%endif%}
                    {% if chef.totalRecipes == 1  %} receita {%endif%}
                </small>
                <a href="/chefs/{{chef.id}}">Visualizar</a>

            </div>
        </div>
        {% endfor %}
    </div>

{% endmacro %}

{% macro adminChefs(chefs, files) %}

<div class="cards">
        {% for chef in chefs %}
        <div class="card">
            <img src="{{files[loop.index0].src}}" alt="{{chef.name}}">
            <div>
                <h4>{{chef.name}}</h4>
                <small class="presentation-author">
                    {{chef.totalRecipes}}
                    {% if chef.totalRecipes != 1  %} receitas {%endif%}
                    {% if chef.totalRecipes == 1  %} receita {%endif%}
                </small>
                <a href="/admin/chefs/{{chef.id}}">Visualizar</a>

            </div>
        </div>
        {% endfor %}
    </div>

{% endmacro %}